
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body{
  padding: 16px;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  height: 10rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  margin: 24px 0;
}

.header a {
  text-decoration: none;
  outline: none;
}

.logo-image {
  width: 80px;
  height: 80px;
}

.logo-text {
  font-weight: 700;
  text-transform: capitalize;
  color: #333;
}

.plantsGrid {
  max-width: 1080px;
  margin: auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  grid-template-columns: 1fr;
  grid-gap: 60px;
}

.plantCard {
  cursor: pointer;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 600px;
}

.plantCardImageContainer {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plantCardImageContainer img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.plantDetails {
  grid-column: 2/-1;
  grid-row: 5;
  background-color: #fff;
  padding: 16px;
  z-index: 100;
}

.plantDetailHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 0 24px;;
}

.plantDetailHeader h1 {
  font-weight: 700;
  font-size: 36px;
}

.plantDateBought {
  display: flex;
  align-items: center;
  gap: 8px;
}

.plantDateBought_icon {
  width: 24px;
  height: 24px;
}

.platDetailList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: top;
  grid-gap: 16px;
}

.plantDetailItem {
  gap: 8px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.plantDetailItem_icon {
  width: 48px;
  height: 48px;
  align-self: center;
}

.plantDetailItem_text {
  text-align: center;
  margin: 0;
}

.heroImage {
  width: 100%;
  /* height: 640px; */
  overflow: hidden;
}

.heroImage img {
  width: 100%;
}

@media (max-width: 600px) {
  .plantDetails {
    grid-column: 1/-1;
    grid-row: -1;
  }
  .plantDetailHeader {
    padding: 0;
  }
}